/**
 * This is a edited version of the theme below to match the EliverLara/Sweet Gnome/KDE theme:
 * https://github.com/TechHutTV/endeavour-ulauncher-theme
 */
@define-color on-violet #cd0cbf;
@define-color on-midpurple #6426a4;
@define-color on-darkblue  #08052b;
@define-color on-teal  #008A7D; 
@define-color on-urgentred  #e53935;
@define-color on-white  #ffffff;
@define-color on-black  #000000;
@define-color on-purple #e345ff;
@define-color on-darkgrey #383c4a;
@define-color on-grey  #b0b5bd;
@define-color on-lightgrey #8b8b8b;
@define-color on-ligthergrey #ddd;
@define-color on-yellowbrown    #e1b700;

/**
 * Ulauncher theme modified from the default dark theme
 */

/**
 * App Window
 */
@define-color bg_color rgba(45, 49, 58, 0.95);
@define-color window_bg @bg_color;
@define-color window_border_color @on-teal;
@define-color prefs_backgroud @on-grey;

/**
 * Input
 */
@define-color selected_bg_color @on-lightgrey;
@define-color selected_fg_color @on-grey;
@define-color input_color @on-ligthergrey;
@define-color caret_color darker(@input_color);

/**
 * Result items
 */
@define-color item_name @on-white;
@define-color item_text @on-lightgrey;
@define-color item_box_selected_start @on-violet;
@define-color item_box_selected_end @on-midpurple;
@define-color item_text_selected @on-white;
@define-color item_name_selected @on-white;
@define-color item_shortcut_color @on-white;
@define-color item_shortcut_shadow darker(@bg_color);
@define-color item_shortcut_color_sel @on-white;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);

.app {
    background-color: @window_bg;
    border-color: @window_border_color;
    border-width: 1px;
    border-radius: 4px;
}

.input {
    color: @input_color;
}

/**
 * Selected text in input
 */
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

.item-text {
    color: @item_text;
}
.item-name {
    color: @item_name;
}

.selected.item-box {
    /* background-color: @item_box_selected;*/
    background: linear-gradient(to right, @item_box_selected_start, @item_box_selected_end);
    border-left: 1px solid @window_border_color;
    border-right: 1px solid @window_border_color;
}
.selected.item-box .item-text {
    color: @item_text_selected;
}
.selected.item-box .item-name {
    color: @item_name_selected;
}
.item-shortcut {
    color: @item_shortcut_color;
    text-shadow: 1px 1px 1px @item_shortcut_shadow;
}
.selected.item-box .item-shortcut {
    color: @item_shortcut_color_sel;
    text-shadow: 1px 1px 1px @item_shortcut_shadow_sel;
}

.prefs-btn {
    opacity: 0.8;
}
.prefs-btn:hover {
    background-color: @prefs_backgroud;
}
